body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
}

p {
    color: #8f8f8f;
}


/* Containers */

.container-fluid {
    padding: 7% 17%;
}


/* Headings */

.section-heading {
    margin-top: 4rem;
    font-size: 3rem;
    line-height: 1.5;
}


/* Sections */

.colored-section {
    background-color: #7b90ee;
    color: #fff;
    z-index: -1;
}

.white-section {
    background-color: #fff;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}


/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

.download-button a {
    text-decoration: none;
    color: aliceblue;
}

.download-button,
a:hover {
    text-decoration: none;
    color: #fff;
}


/* Buttons  image*/

.download-image {
    margin: 5% 3% 5% 0;
}

.download-image,
a {
    text-decoration: none;
    color: black;
}

.download-image a:hover {
    text-decoration: none;
    color: #fff;
}


/* Title Image */

.title-image {
    width: 50%;
    transform: rotate(20deg);
    position: absolute;
    right: 30%;
    margin: 0rem 0rem;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}


/* target image  */

.image img {
    height: 15rem;
    width: 15rem;
    margin: 0rem 0rem;
}

.target-img {
    margin-top: 3rem;
}

#target img:hover {
    background-color: black;
}

.image p {
    margin-top: 1.5rem;
}

@media (max-width: 1028px) {
    .image img {
        height: 30rem;
        width: 30rem;
        margin: 0rem 0rem;
    }
}